.messageField {
    border: 1px solid rgba(0,0,0,.125);
    padding: 1%;
}

.messageField-block {
    padding: 1%;
}

.msg-box {
    overflow-y: scroll;
    max-height: 500px;
}

.messageField-block button {
    color: white;
    background-color: #7952B3;
    border: #7952B3;
    transition: opacity 1s;
}

.messageField-block button:hover {
    opacity: 0.7;
}

.sender {
    background-color: #D1CADA;
    text-align: right;
}

.recipient {
    background-color: #EDEEF0;
    text-align: left;
}

input:focus {
    outline-color: #7952B3;
}