* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.message-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
}

.mylayout {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.message {
    background-color: aliceblue;
    min-width: 200px;
    max-width: 50%;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    word-wrap: break-word;
}

.message-sender {
    color: lightcyan;
    font-size: 14px;
}

.msg-input {
    position: fixed;
    bottom: 0;
    width: 80%;
    min-height: 40px;
}

.msg-input-1 {
    width: 80%;
    background: aliceblue;
    border: 0;
    font-size: 14px;
    outline: none;
    padding: 0 20px;
}

.msg-input-btn {
    width: 20%;
    border: 0;
    background-color: aliceblue;
    border-right: 1px solid darkslategray;
}

svg {
    max-height: 40px;
    max-width: 40px;
}

.metadata {
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}