.users__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: calc(100% - 50px);
    padding: 20px 10px 20px 0px;
    background-color: #252932;
    overflow: hidden;
}

.users__list {
    height: 90%;
    padding-right: 10px !important;
    overflow-y: auto;
}

.users__list::-webkit-scrollbar {
    width: 6px;

}

.users__list::-webkit-scrollbar-track {
    background-color: #41506d;
    border: 1px solid rgba(120, 161, 254, 0.2);
    box-shadow: inset 0 0 1px rgba(120, 161, 254, 0.5);
}

.users__list::-webkit-scrollbar-thumb {
    background-color: #f0f5f9;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.users__list::-webkit-scrollbar-track,
.users__list::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

.users__list .active {
    background-color: #41506d !important;
}

.user__avatar {
    width: 64px;
    height: 64px;
    background-color: #eee;
    border-radius: 50%;
    flex-shrink: 1;
    overflow: hidden;
}

.users__control {
    padding-right: 10px;
    padding-left: 20px;
}

.user__add {
    color: #fff !important;
    transition: color 450ms;
}

.user__add:hover {
    color: #252932 !important;
}

.user__input {
    color: #fff !important;
}