.msg {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    margin-bottom: 15px;
    width: 75%;
    align-self: flex-end;
    text-align: right;
}

.msgbot {
    background-color: lightgreen;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    margin-bottom: 15px;
    width: 75%;
}

.msg p {
    word-break: break-all;
}

.msgbot p {
    word-break: break-all;
}