.globalWrapper {
  height: calc(100% - 30px);
}

.wrapper {
  height: 100%;
}

.chatWindow {
  width: 80%;
  justify-content: space-between;
  padding: 5px 20px 20px 20px;
}

.msgList {
  overflow-y: scroll;
  flex: 1 0 auto;
  max-height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputBlock {
  flex: 0 0 auto;
  padding-top: 20px;
}
