.wrapper {
  height: 100%;
}

.chatList {
  border-right: 1px solid darkgoldenrod;
  width: 20%;
  padding: 20px;
  overflow-y: scroll;
}

.chatListItem {
  background-color: dimgray;
  width: 100%;
  color: antiquewhite;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  padding: 0 20px;
  margin-bottom: 5px;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
}

.chatListItemActive {
  background-color: darkgoldenrod;
}

.chatWindow {
  width: 80%;
  justify-content: space-between;
  padding: 5px 20px 20px 20px;
}

.chatName {
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}

.msgList {
  overflow-y: scroll;
  flex: 1 0 auto;
  max-height: calc(100vh - 250px)
}

.inputBlock {
  flex: 0 0 auto;
  padding-top: 20px;
}
