.chat-list {
  display: flex;
  height: calc(100vh - 50px);
  flex-direction: column;
  justify-content: space-between;
  width: 30%;

  border-right: #cccccc 1px solid;
  text-align: center;
  padding-bottom: 20px;
}

.chat-list-rooms {
  overflow-y: auto;
  height: 100%;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.chat-list h2 {
  font-size: 20px;
  text-transform: uppercase;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  line-height: 35px;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  border-bottom: #cccccc 1px solid;
}

ul li:hover {
  background-color: rgba(0, 0, 0, .05);
}

.active:hover {
  background-color: rgb(95, 119, 184);
}

.active {
  color: #ffffff;

  background-color: rgba(95, 119, 184, .9);
}

@media screen and (max-width: 768px) {
  .chat-list {
    width: 100%;
    display: none;
  }

  .show {
    display: flex;
  }
}