.my-btn {
    align-self: center;
    height: 56px;
    width: 100%;
    background-color: #0067F2;
    border: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    flex-wrap: nowrap;
    bottom: 0;
}

.my-btn:hover {
    background-color: #0058F2;
}

.my-btn:active {
    background-color: #0046F2;
}

.wrapper {
    width: 400px;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    position: relative;
}

.messages {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    height: 544px;
    overflow: auto;
    background-color: #eaeaea;
}