.messages__layout.first-screen__wrapper {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding-top: 7%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 80%;
}

.first-screen__title,
.first-screen__text {
    z-index: 1;
}

.first-screen__text {
    width: 80%;
    font-size: 1.25rem;
    text-align: center;
}

.messages__layout.first-screen__wrapper:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 245, 249, .64);
}